@mixin compileFlex ($wrap, $justifyCont, $alignItems) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justifyCont;
    align-items: $alignItems;
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
