$white: #FFFFFF;
$black: #000000;
$bg-dark-stars: #303030 url('http://www.script-tutorials.com/demos/360/images/stars.png') repeat center;
$bg-btn-primary: #C83B1A;
$text-primary: #D2401E;
$text-light: #CDCDCD;
