$white: #FFFFFF;
$black: #000000;
$bg-dark-stars: #1C1C1C url('http://www.script-tutorials.com/demos/360/images/stars.png') repeat center;
$bg-btn-primary: #C83B1A;
$text-primary: #D2401E;
$text-light: #CDCDCD;
$bg-icons-primary: #F6F7F2;
