// BASIC COLORS
$white: #FFFFFF;
$black: #000000;

// BACKGROUNDS
$bg-dark-stars: #1C1C1C url('http://www.script-tutorials.com/demos/360/images/stars.png') repeat center;
$bg-btn-primary: #C83B1A;
$bg-slider-dots: #B7903C;
$bg-icons-primary: #F6F7F2;
$bg-white-opac: #FFFFFF26;

// TEXT COLORS
$text-primary: #D2401E;
$text-dark-primary: #AB4027;
$text-light: #CDCDCD;
$text-dark: #1C1C1C;
$text-caption: #A6A6A6;
$text-subcaption: #B2B2B2;
$text-camel: #B68A2C;
$text-initialPrice: #D3CFAF;
$text-events: #FBF9F9;
$text-input: #8F8F8F;
$text-footer: #858585;
